# Folder we don't want
.git
node_modules
dist
env
db/seeds/migration

# Files not needed inside Docker Container
**/.DS_Store
**/.gitignore
**/.gitattributes
**/*.log
.eslint*
.prettierrc
*.md
**/docker-compose.*
Dockerfile*
Insomnia.json
*.conf


# Logs
**/*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
**/*.pid
**/*.seed
**/*.pid.lock

# Optional package manager cache directories
.pnpm-store
.npm

# Optional eslint cache
.eslintcache
