# Environment
NODE_ENV=development

# API version
API_VERSION=v1

# Application port
PORT=8101

# Application URL
URL=http://localhost:8101

# Frontend URL
FRONTEND=http://localhost:9000

# CORS authorized domains, by coma separated WITHOUT spacing
# disabled on development
AUTHORIZED=http://localhost:8001

# JWT Secret passphrase
JWT_SECRET=
JWT_EXPIRATION_MINUTES=
JWT_REFRESH_DAYS=

# Content-type for communication between api/clients
CONTENT_TYPE=application/json

# DB
DB_TYPE    =mysql
DB_USERNAME=
DB_PASSWORD=
DB_NAME    =
DB_HOSTNAME=
DB_PORT    =
DB_POOL_MIN=2
DB_POOL_MAX=10

# E-Mail
MAIL_SMTP    =smtp.ethereal.email
MAIL_PORT    =587
MAIL_FROM    =
MAIL_PASSWORD= 

# Meteoblue
METEOBLUE_KEY=

# Dropbox
DROPBOX_CLIENT_ID=
DROPBOX_CLIENT_SECRET=

# Basic Limit
LIMIT_HIVE=5
LIMIT_APIARY=2
LIMIT_SCALE=2

# Cron-Job timer
CRONJOB=0 11 */1 * *

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_APP_SECRET=